<div class="columns">
  <div class="column is-two-thirds">
    <%= form_for :part, url: task_parts_path(@task) do |f| %>
      <p class="control">
        <%= f.text_field :description, class: 'input', placeholder: 'Description' %>
      </p>
      <p class="control">
        <%= f.text_field :estimate, class: 'input', placeholder: 'Estimated time (in minutes)' %>
      </p>
      <p class="control">
        <%= f.submit 'Add step', class: 'button tag is-primary' %>
      </p>
    <% end%>
  </div>
</div>