<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <%= form_for :part, url: parts_path do |f| %>
            <p class="control">
              <%= f.select :description, class: 'task input is-large',placeholder: 'Description' %>
            </p>
            <p class="control">
              <%= f.submit 'Add part', class: 'button is-large' %>
            </p>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</section>