<div class="column is-one-third has-text-centered">
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Add multi-user authentication</strong><br><small>updated 31m ago</small>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <a class="level-item">
                      <span class="tag is-dark">Dark</span>
                      <span class="tag is-primary">Primary</span>
                      <span class="tag is-info">Info</span>
                      <span class="tag is-success">Success</span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
        <div class="column is-one-third has-text-centered">
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Send an email confirmation upon valid sign up</strong><br><small>updated 1d ago</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <a class="level-item">
                      <span class="tag is-dark">Dark</span>
                      <span class="tag is-primary">Primary</span>
                      <span class="tag is-info">Info</span>
                      <span class="tag is-success">Success</span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
        <div class="column is-one-third has-text-centered">
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Add validations to nested model attributes</strong><br><small>updated 3d ago</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <a class="level-item">
                      <span class="tag is-dark">Dark</span>
                      <span class="tag is-primary">Primary</span>
                      <span class="tag is-info">Info</span>
                      <span class="tag is-success">Success</span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>