<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <%= form_for :task, url: tasks_path do |f| %>
            <p class="control">
              <%= f.select :level, options_for_select([1, 2, 3]), {prompt: 'Level'}, class: 'select is-medium' %>
            </p>
            <p class="control">
              <%= f.text_field :name, class: 'task input is-large', placeholder: 'Description' %>
            </p>
            <p class="control">
              <%= f.submit 'Create task', class: 'button is-large' %>
            </p>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</section>