<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Latest tasks
      </h1>
      <div class="columns">
        <%= render 'latest_tasks' %>
      </div>
    </div>
  </div>
</section>

<div class="container" style="margin: 5% 5%;">
  <div class="tabs">
    <ul>
      <li class="is-active"><a>By level</a></li>
      <li><a>Most recent</a></li>
    </ul>
  </div>
  <div class="columns is-multiline">
    <% Task.by_level.each_with_index do |task, i| %>
      <div class="column is-8" style="margin-top: 2.5%;">
        <div class="content">
          <p class="task title"><%= link_to "#{i+=1}. #{task.name}", task_path(task) %></p>
        </div>
        <span class="tag is-info">Level <%= task.level %></span>
        <span class="tag is-warning">In progress</span>
      </div>
    <% end %>
  </div>
</div>