<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Latest tasks
      </h1>
      <div class="columns">
        <%= render 'latest_tasks' %>
      </div>
    </div>
  </div>
</section>

<div class="container" style="margin: 5% 5%;">
  <div class="columns is-multiline">
    <div class="column is-8">
      <div class="content">
        <p class="task title">Add the ability to search for a post by hashtag attribute</p>
        <p class="task subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
      <span class="tag is-dark">Dark</span>
      <span class="tag is-primary">Primary</span>
      <span class="tag is-info">Info</span>
      <span class="tag is-success">Success</span>
    </div>
    <div class="column is-8">
      <div class="content">
        <p class="task title">Ajax call to update like count for a post</p>
        <p class="task subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
      <span class="tag is-dark">Dark</span>
      <span class="tag is-primary">Primary</span>
      <span class="tag is-info">Info</span>
      <span class="tag is-success">Success</span>
    </div>
  </div>
</div>