<% if current_user %>
  <nav class="level">
    <div class="level-item has-text-centered">
      <p class="heading">Total</p>
      <p class="title"><%= current_user.tasks.count %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Completed</p>
      <p class="title"><%= current_user.tasks.complete.count %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">In progress</p>
      <p class="title"><%= current_user.tasks.in_progress.count %></p>
    </div>
  </nav>
<% end %>