<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title">
            DevJournal
          </h1>
          <h2 class="subtitle">
            Map out your tasks before you start coding
          </h2>
          <%= link_to 'Get started', dashboard_path, class: 'button is-large is-primary' %>
        </div>
      </div>
    </div>
  </div>
</section>